.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

[data-id='illustrationWelcomePage'] {
  position: absolute;
  top: -15px;
  right: 0;
}

.btn-cross {
  background: transparent;
  background-image: url("../../../assets/cross-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--bg-color);
  border-radius: 100%;
  padding: 14px;
}

@media (max-width: 767px) {
  .btn-cross {
    background-image: url("../../../assets/cross-light-mobile.svg");
    border-width: 2px;
    padding: 9px;
  }
}