.answer {
  width: 100%;
}

.answers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: start;
  row-gap: 16px;
  list-style: none;
  counter-reset: list;
  padding: 0;
  margin: 0;
}

.answers li {
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .answers {
    row-gap: 8px;
  }
}